/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f85e71;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    flex: 1;
}

footer {
    background-color: #f85e71;
    color: #fff;
    text-align: center;
    padding: 1em;
    bottom: 0;
    position: relative;
    margin-top: auto;
    width: 100%;
}



#chat-container {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

#chat-box {
    height: 400px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

#chat-form {
    display: flex;
    margin-top: 10px;
}

#user-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#send-message-button {
    padding: 10px;
    background-color: #f85e71;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}